*{margin: 0%; padding: 0%;}

#planeImg{
    height: 100px;
    margin-top: 400px;
}

body{
    height: auto;
    width: 100%;
    background-image: url(planebackgroung.jpg);
    background-size: cover;
}