body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#eee;
}

.container{
width:300px;
height:300px;
border:2px solid black;
position:relative;
overflow:hidden;
}

.box{
width:40px;
height:40px;
position:absolute;

animation: zigzag 1s linear infinite, blink 0.5s infinite;
}

@keyframes zigzag{

0%{
top:0;
left:0;
}

25%{
top:80px;
left:260px;
}

50%{
top:160px;
left:0;
}

75%{
top:240px;
left:260px;
}

100%{
top:0;
left:0;
}

}

@keyframes blink{

0%{
background:red;
}

50%{
background:yellow;
}

100%{
background:blue;
}

}