.main{
    height: 550px;
    width: 100%;
}

.box{
    height: 100%;
    width: 24%;
    float:left;
    margin-left: 10px;
}

.top{
    height: 70%;
    width: 100%;
}

.mid{
    height: 10%;
    width: 100%;
    text-align: center;
}

.bottom{
    height: 20%;
    width: 100%;
    text-align: center;
}

.top img{
    height: 100%;
    width: 100%;
}