/* *{
    color: red;
    font-size: 20px;
} */

/* p{
    color:blue;
}

h1{
    color: pink;
}

h3{
    color: orange;
} */

/* h3{
    color: brown;
} */

/* .x{
    color: red;
}

.z{
    color: hotpink;
}

p{
    color: violet;
} */


#a{
    color: red;
}

#b{
    color: yellowgreen;
}

.a{
    color:chartreuse;
}

.b{
    font-size: 30px;
}

#x{
    font-size: 50px;
}