.box {
    height: 300px;
    width: 300px;
    /* background-color: red; */
    /* transform: translate(500px); */
    /* transform: translateX(800px); */
    /* transform: translateY(90px);  */
    /* transform: scale(3); */
    /* transform: scaleY(2.5); */
    /* transform: scaleX(5); */
    /* transform: rotate(160deg); */
    /* transform: skew(20deg); */
    /* transform: skewX(40deg); */
    /* transform: skewY(60deg); */
    /* transform: scale(0.1); */
    /* transform: rotateX(100deg); */
    /* transform: rotateY(10deg); */
    transition: 3s;
    margin: auto;
    margin-top: 100px;
    background-image: url(./images/cherries.jpg);
}

.box:hover {
    /* transform: translate(300px); */
    /* margin-left: 500px; */
    /* transform: translateY(400px); */
    /* transform: scale(1.5); */
    /* transform: scale(0.5); */
    /* transform: skew(40deg); */
    /* transform: skewY(60deg); */
    /* transform: rotate(400deg); */
    transform: rotateX(180deg);
    /* transform: rotateY(180deg); */
}


