*{margin: 0; padding: 0;}
.top-row{
    height: 50px;
    width: 100%;
    text-align: center;
}

.div1{
    height: 100%;
    width: 10%;
    float: left;
}

.div1 i{
    font-size: 25px;
    margin-top: 15px;
}

.div2{
    height: 100%;
    width: 80%;
    float: left;
}

.div3{
    height: 100%;
    width: 10%;
    float: left;
}

h2{
    margin-top: 15px;
}

.main{
    height: 480px;
    width: 100%;
    margin-top: 5%;
}

.box{
    height: 100%;
    width: 22%;
    margin-left: 25px;
    float: left;
}

.top{
    height: 80%;
    width: 100%;
}

.top img{
    height: 100%;
    width: 100%;
}

.mid{
    height: 10%;
    width: 100%;
    text-align: center;
}

.bottom{
    height: 20%;
    width: 100%;
    text-align: center;
}

